<!--The content below is only a placeholder and can be replaced.-->
<div class="row" style="background-color:#3b8de2; height: 45px; text-align: center;">
    <div style="padding:11px;">
        <div class="col-md-1">
            <a href="/Login" style="color:white;">Logut</a>
        </div>
        <div class="col-md-1">
            <a href="/EmployeeList" style="color:white;">Employees</a>
        </div>
        <div class="col-md-1">
            <a href="/Login" style="color:white;">Logut</a>
        </div>
    </div>
</div>
<div class="row">
    <div style="width: 10%; float:left;background-color:rgba(24, 85, 197, 0.89);height:550px;">
        <input type="search" class="ai-box" placeholder="Search" />       
        <br/><br/><br/>
        <div class="col-md-1">
            <a href="/Login" style="color:white;padding:11px;">Logut</a>
        </div><br/><br/><br/>
        <div class="col-md-1">
            <a href="/EmployeeList" style="color:white;padding:11px">Utiliztions</a>
        </div><br/><br/><br/>
        <div class="col-md-1">
            <a href="/Login" style="color:white;padding:11px">Allocations</a>
        </div><br/><br/>
        <div class="col-md-1">
            <a href="/DayEntry" style="color:white;padding:11px">DayEntry</a>
        </div>
    </div>
    <div style="width: 90%; float:right">
        <router-outlet></router-outlet>
    </div>
</div>